.p_wrap h5 { font-size:1.54rem; padding: 0.4rem 0 0 0.65rem; margin-bottom: 1rem !important; }
.p_wrap h5 b { position:relative; bottom:-2px; }
.p_wrap .container { max-width:100%; }
.p_wrap .container,
.p_wrap .row .col { padding:0; }
.p_wrap .adform .row > div:not(.tit) { padding: 8px 5px; }
.p_wrap .row,
.p_wrap .row .col p { margin:0; }
.p_wrap .h3 h3 { margin:0 0 .5rem 3rem }
.p_wrap .h3 div { text-align:right; }
.p_wrap .h3 div .btn { border-color:#000; font-weight:600; }

.p_wrap .print_hide,
.p_wrap .print_hide_flex,
.p_wrap .print_hide_inline_block { display:none !important; }
.p_wrap .btn.teal { font-size:.9rem; padding:.5rem 0.75rem 0.3rem; }

.p_wrap .act_ctrl { background-color: #fff; border: 5px solid #4eb8c8; border-radius: 1rem; padding: 8px; position: -webkit-sticky; position: sticky; top: 0; z-index: 3; }
.p_wrap .act_ctrl .def_info { line-height:1.9; }
.p_wrap .act_ctrl .def_info span { margin-left: 2rem; }
.p_wrap .act_ctrl .def_info b { font-weight:900; margin-left:.5rem; }
.p_wrap .print_mng_nm { top:0; position:absolute; left:50%; transform:translateX(-50%); font-size:3rem; z-index:4; }
.p_wrap .box .top_border { border-top:3px solid #4F637B; }
.p_wrap .box .goods .pa_tit { flex:0 0 9%; max-width:9%; border-right:1px solid #D7D7D7; border-bottom:1px solid #D7D7D7; align-items:center; display:flex; text-align:center; justify-content:center; }
.p_wrap .box .goods .gd_con .row.option { background-color:#F4F1EC; }
.p_wrap .box .goods .gd_con .row .col { border-bottom:1px solid #D7D7D7; padding:.68rem; font-size:.85rem; }
.p_wrap .box .goods .gd_con .row .col.align { display:flex; align-items:center; justify-content:center; }
.p_wrap .box .goods .gd_con .row:not(:first-child) .end { justify-content:flex-end; }
.p_wrap .box .goods .gd_con .row .gray_c { color:#AEAEAE; }
.p_wrap .box .goods .gd_con .row:not(:first-child) .col .btn { color:#AEAEAE; font-size:.9rem; }
.p_wrap .box .goods .gd_con .row .col b { color:#000; font-size:.95rem; }

.p_wrap .box .goods .gd_con .row:first-child .col { font-weight:600; line-height:1.7; padding:.86rem 0; font-size:.9rem; text-align:center; }
.p_wrap .box .goods .gd_con .row .col:nth-child(1) { flex:0 0 4.5%; max-width:4.5%; }
.p_wrap .box .goods .gd_con .row .col:nth-child(2) { flex:0 0 7%; max-width:7%; }
.p_wrap .box .goods .gd_con .row .col:nth-child(3) { border-right:1px solid #D7D7D7; }
.p_wrap .box .goods .gd_con .row .col:nth-child(4) { flex:0 0 9%; max-width:9%; border-right:1px solid #D7D7D7; }
.p_wrap .box .goods .gd_con .row .col:nth-child(5) { flex:0 0 11%; max-width:11%; border-right:1px solid #D7D7D7; }
.p_wrap .box .goods .gd_con .row .col:nth-child(6) { flex:0 0 9%; max-width:9%; border-right:1px solid #D7D7D7; }
.p_wrap .box .goods .gd_con .row .col:nth-child(7) { flex:0 0 13%; max-width:13%; border-right:0px solid #D7D7D7; }
.p_wrap .box .goods .gd_con .row .col:nth-child(8) { flex:0 0 9%; max-width:9%; }
    
.p_wrap .box .goods .gd_con .row .col img { width:100%; cursor:pointer; }
.p_wrap .box .goods .gd_con .row .col >>> .myCheck .custom-control-label::before, 
.p_wrap .box .goods .gd_con .row .col >>> .myCheck .custom-control-label::after { width:1.8rem; height:1.8rem; top:-2px; }
.p_wrap .box .goods .gd_con .row .col .sum { text-align:right; width:100%; line-height:2; }
.p_wrap .box .goods .gd_con .row .col.desc.option { display:flex; align-items:center; }
.p_wrap .box .goods .dlvy_fare { flex:0 0 9%; max-width:9%; align-items: center; display: flex; text-align: center; justify-content: center; border-left: 1px solid #D7D7D7; border-bottom:1px solid #D7D7D7; color:#AEAEAE; }

.p_wrap .box .action { padding:1.5rem 3rem; font-weight:600; }

.p_wrap .box .sum_up .total { border-bottom:1px solid #D6D6D6; }
.p_wrap .box .sum_up .total .col { color:#000; font-weight:bold; }
.p_wrap .box .sum_up .total .col b { font-size:1.3vw; }
.p_wrap .box .sum_up .total .col:nth-of-type(odd) { display:flex; align-items:center; flex-basis:12%; max-width:12%; padding:1vw 0 1vw 2vw; font-size:.9vw; }
.p_wrap .box .sum_up .total .col:nth-of-type(even) { text-align:right; padding:1vw 2vw 1vw 0; }
.p_wrap .box .sum_up .total .col:nth-of-type(2):after,
.p_wrap .box .sum_up .total .col:nth-of-type(4):after { background:#707070; width:25px; height:25px; border-radius:13px; position:absolute; right:-14px; color:#fff; text-align:center; font-size:1.4rem; line-height:1.32rem; top:50%; transform:translateY(-50%); }
.p_wrap .box .sum_up .total .col:nth-of-type(2),
.p_wrap .box .sum_up .total .col:nth-of-type(4) { border-right:1px solid #D6D6D6; }
.p_wrap .box .sum_up .total .col:nth-of-type(2):after { content:"+"; }
.p_wrap .box .sum_up .total .col:nth-of-type(4):after { content:"="; }
.p_wrap .box .sum_up .total .col:nth-of-type(5) { flex-basis:16%; max-width:16%; }
.p_wrap .box .sum_up .total .col:nth-of-type(6) { flex-basis:24%; max-width:24%; }
.p_wrap .box .sum_up .total_sub { background:#F2F3F5; border-bottom-width:0; }
.p_wrap .box .sum_up .total_sub>.col:nth-of-type(1) { border-right:1px solid #D6D6D6; }
.p_wrap .box .sum_up .total_sub>.col:nth-of-type(2) { border-right:1px solid #D6D6D6; }
.p_wrap .box .sum_up .total_sub>.col:nth-of-type(3) { flex-basis:40%; max-width:40%; }
.p_wrap .box .sum_up .total_sub .col>div { display:flex; flex-wrap:wrap; }
.p_wrap .box .sum_up .total_sub .col>div:nth-of-type(1) { padding:1rem 2rem .5rem 2rem; }
.p_wrap .box .sum_up .total_sub .col>div:nth-of-type(2) { padding:0 2rem 1rem 2rem; }
.p_wrap .box .sum_up .total_sub .col>div .col { color:#A8A9AB; font-weight:bold; font-size:.84rem; }
.p_wrap .box .sum_up .total_sub .col>div .col:nth-of-type(2) { text-align:right; }

.p_wrap .extra_info table { width:100%; border-top:3px solid #4F637B; border-bottom:3px solid #4F637B; margin-bottom:2.5rem; }
.p_wrap .extra_info table tr th { background-color:#F2F3F5; width:13%; text-align:center; padding:.55rem 0.3rem; font-size:.95rem; }
.p_wrap .extra_info table tr td { padding-left:2rem; }
.p_wrap .extra_info table tr td svg { font-size:1.6rem; vertical-align:middle; }
.p_wrap .extra_info table tr th,
.p_wrap .extra_info table tr td { font-size:.9rem; border-bottom:1px solid #D7D7D7; border-right:1px solid #D7D7D7; }
.p_wrap .extra_info table tr:last-child td { border-right-width:0; }
.p_wrap .extra_info table tr td .btn { padding:.3rem .75rem .1rem; }
.p_wrap .extra_info .address .warning { color:#FF0000; position:absolute; right:0; font-size:.8rem; }
.cube_box { display:inline-block; vertical-align:middle; margin-left:1rem !important; }
.cube_box, 
.cube_box * { box-sizing: border-box; }
.cube_box { /*perspective:400px;*/ margin:auto; }
.cube_box .cube { position: relative; transform-style: preserve-3d; transform: translateZ(-50px); transition: transform .2s; }
.cube_box .cube .piece { position:absolute; }
.cube_box,
.cube_box .cube,
.cube_box .cube .piece { width:100%; max-width:40px; height:30px; }
.cube_box .cube .piece.front { transform: rotateY(  0deg) translateZ(20px); line-height:2; padding-left:.6rem; }
/* .cube_box .cube .piece.right { transform: rotateY( 90deg) translateZ(20px); display:block; } */
.cube_box .cube .piece.bottom { transform: rotateX(-90deg) translateZ(30px); display:block; }
.cube_box .cube.show_front  { transform: translateZ(-50px) rotateY(   0deg); }
/* .cube_box .cube.show_right,
.cube_box .cube:hover  { transform: translateZ(-50px) rotateY( -90deg); } */
.cube_box .cube.show_bottom,
.cube_box .cube:hover{ transform: translateZ(-30px) rotateX(  90deg); }

table tr td svg { cursor:pointer; font-size:1.2rem; vertical-align:middle; }
.cube_box.receiver,
.cube_box.receiver .cube,
.cube_box.receiver .cube .piece { max-width:150px; }
.cube_box.receiver_hp,
.cube_box.receiver_hp .cube,
.cube_box.receiver_hp .cube .piece { max-width:250px; }
.layerModal .row .ctrl { text-align:right; }