.card { border-radius:10px; margin-bottom:20px; }
.card .tit { border-left:3px solid #17a2b8; font-weight:bold; font-size:20px; padding-left:30px; margin-bottom:20px; }
.card .tit button { display:none; }

.badge { font-size:100%; }
.head { padding:0.3rem 15px; position:sticky; top:0; z-index:1; background: #17a2b8c2; margin-top: 30px; }
.head span { margin-right:1rem; }
.head span.badge { margin-right:2rem; }
.head span svg { margin-right:0.5rem; }
.actionArea { position:sticky; top:0; z-index:1021; }
.actionArea .input-group { position:absolute; top:2px; right:15px; max-width:690px; }
@media (max-width: 992px) {
    .actionArea { position:static; }
    .actionArea .input-group { position:static; max-width:none; }
}

.body .container { /*border-left: 3px solid #b81717;*/ margin-top:40px; }
.card .container { font-size:.9rem; }
.body .container h5 { margin-bottom:30px;  border-bottom: 1px solid #206137; margin-left:-10px; padding: 5px 15px; max-width:700px; }
.body .container .row a { flex:0 0 130px; max-width:130px; padding-right: 15px; padding-left: 15px; }
.body .container .row a img { width:100px; height:100px; object-fit:cover; }
.body .container .row .col .gd_name .col { color:#006edf; font-weight:bold; font-size:1rem; }
.body .container .row .col .gm:not(:last-child) { border-bottom:1px solid #aaa; }
.body .container .row .col .gm { align-items: center; padding:5px 0; }
.body .container .row .col .gm .col .divider { font-size:1.6rem; font-weight:bold; color:#b81717; padding:0 5px; position:relative; top:3px; line-height:14px; }
.body .container .row .col .gm .col:nth-of-type(1), 
.body .container .row .col .gm .col:nth-of-type(2) { border-right:1px solid #ddd; } 
.body .container .row .col .gm .col:nth-of-type(2),
.body .container .row .col .gm .col:nth-of-type(3) { flex:0 0 25%; max-width:25%; }
.body .container .row .col .row .price { text-align:right; }
.card .container .row .col .cube_box { display:inline-block; }
.card .container .row .col .cube_box .cube .right { display:none; }

.body .container .row .col .opc { padding-top:5px; }
.body .container .row .col .gm .price .multi,
.body .container .row .col .opc .price .multi { min-width:6rem; display:inline-block; }
    
.price .container .row .col { text-align:right; }
.price .container .row .col b { min-width:8rem; display:inline-block; color:#b81717; }
