.card { border-radius:10px; margin-bottom:20px; }
.card .tit { border-left:3px solid #17a2b8; font-weight:bold; font-size:20px; padding-left:30px; margin-bottom:20px; }
.card .tit button { display:none; }

.badge { font-size:100%; }
.head { padding:0.3rem 15px; position:sticky; top:0; z-index:2; background: #17a2b8c2; }
.head span { margin-right:1rem; }
.head span.badge { margin-right:2rem; }
.head span svg { margin-right:0.5rem; }
.actionArea { position:sticky; top:0; z-index:1021; }
.actionArea .input-group { position:absolute; top:2px; right:15px; max-width:690px; }
@media (max-width: 992px) {
    .actionArea { position:static; }
    .actionArea .input-group { position:static; max-width:none; }
}

.card .container { font-size:.9rem; }
.goods .container { /*border-left: 3px solid #b81717;*/ margin-top:40px; }
.goods .container h5 { margin-bottom:30px;  border-bottom: 1px solid #206137; margin-left:-10px; padding: 5px 15px; max-width:700px; }
.goods .container h5 .myCheck { display:none; }
.goods .container>.row { border:2px solid #17a3b886; }
.goods .container>.row>div:last-child { flex:0 0 150px; max-width:150px; background:#17a3b886;}
.goods .container>.row>div:last-child .row { height:100%; }
.goods .container>.row>div:last-child .row .col { justify-content:center; }
.goods .container .row { margin-right:-5px; margin-left:-5px; }
.goods .container .row .col { padding-left:5px; padding-right:5px; }
.goods .container .row .col .row { justify-content:flex-end; }
.goods .container .row .col .row .gd_img { flex:0 0 130px; max-width:130px; padding-right: 15px; padding-left: 15px; }
.goods .container .row .col .row .gd_img img { width:100px; height:100px; object-fit:cover; }
.goods .container .row .col .row .gd_info div { width:100%; text-align:left; }
.goods .container .row .col .row .gd_info div>b { color:#006edf; font-size:1.3rem; }
.goods .container .row .col .row.model:not(:last-child) { border-bottom:1px solid #aaa; }
.goods .container .row .col .row.model:not(:first-child) { border-top:1px solid #aaa; }
.goods .container .row .col .row .col:not(:first-child) { border-left:1px solid #17a3b886; }
.goods .container .row .col .row .col { display:flex; align-items:center; justify-content:center; }
.goods .container .row .col .row .col .divider { font-size:1.6rem; font-weight:bold; color:#b81717; padding:0 5px; position:relative; top:3px; line-height:14px; }
.goods .container .row .col .row .col p { margin:0; }


.goods .container .row .col .row .chk { flex:0 0 3%; max-width:50px; min-width:45px; display:none; }
.goods .container .row .col .row .spec  { flex:0 0 18%; max-width:18%; }
.goods .container .row .col .row .price { flex:0 0 18%; max-width:18%; }
.goods .container .row .col .row .price p { width:100%; text-align:right; }
.goods .container .row .col .row .dlvy_info { flex:0 0 8%; max-width:8%; }

.card .container .row .col .cube_box { display:inline-block; }
.card .container .row .col .cube_box .cube .right { display:none; }

    
.price .container .row .col { text-align:right; }
.price .container .row .col b { min-width:8rem; display:inline-block; color:#b81717; }
