.print_area .gd_box .gd_list:not(:last-of-type) { border-bottom:1px solid #eee; }
.print_area .gd_box .gd_list .col { padding-top:10px; padding-bottom:10px; }
.print_area .gd_box .gd_list .col .btn { margin-right:10px; }
.print_area .gd_box .gd_list .col .divider { font-size:1.6rem; font-weight:bold; color:#b81717; padding:0 5px; position:relative; top:3px; line-height:14px; }
.print_area .gd_box .gd_list i { text-align:right; }
.print_area .gd_box .gd_list>.col:nth-child(2),
.print_area .gd_box .gd_list .opc .row div { background-color:#7fffd454; } 
.print_area .gd_box .gd_list .opc { border-top:1px solid #eee; }

.print_area .gd_box .gd_list .col:nth-child(2),
.print_area .gd_box .gd_list .col:nth-child(3) { flex:0 0 25%; max-width:25%; }

/*.print_area .card .eq_info .col { box-shadow:3px 2px 2px 0px; border:1px solid #EDEDED; }*/
.print_area .card .eq_info .col div { margin:1rem; }
.print_area .card .eq_info .col div span { margin-right:1rem; }
.print_area .card .eq_info .col div span svg { margin-right:0.5rem; }
.print_area .card .eq_info .col div .content {  }



.print_area .gd_box .gd_list .em_name { font-size:1rem; }
.print_area .gd_box .gd_list .em_name i { font-size:0.7rem;  display:inline-block; background-color:#71B981; color:#fff; border-radius:1rem; padding:0.2rem 0.5rem; line-height:1; }
.print_area .gd_box .gd_list .em_name .btn { margin-left:1rem; padding:.1rem .36rem; }
.print_area .gd_box .gd_list .gd_info div { color:#999; font-size:0.8rem; }
.print_area .gd_box .op_list .op_info div { color:#999; font-size:0.8rem; }
.print_area .gd_box .op_list .op_info div span { display:inline-block; min-width:10rem; text-align:left; }
.print_area .gd_box .op_list .op_info div i { display:inline-block; min-width:5rem; }
.print_area .gd_box .op_list .op_info div i b { display:inline-block; min-width:1.4rem; }
.print_area .gd_box .gd_list > div:nth-child(3) { text-align:right; }